<!DOCTYPE html>
<html>
<head>
  <title>Customer Database</title>
  <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
      <script src="index.js"></script>
</head>
<body>
  <div class="customers">

    {{#username}}
      <b>{{username}}</b>

    {{/job}}
    {{^job}}

    <p class="no job", Available for hire></p>
    {{/job}}



    {{#name}}
      <b>{{name}}</b>

    {{/job}}
    {{^job}}

    <p class="no job", Available for hire></p>
    {{/job}}



    {{#avatar}}
      <b>{{avatar}}</b>

    {{/job}}
    {{^job}}


    <p class="no job", Available for hire></p>
    {{/job}}



    {{#email}}
      <b>{{email}}</b>

    {{/job}}
    {{^job}}


    <p class="no job", Available for hire></p>
    {{/job}}



    {{#University}}
      <b>{{University}}</b>

    {{/job}}
    {{^job}}


    <p class="no job", Available for hire></p>
    {{/job}}



    {{#job}}
      <b>{{job}}</b>

    {{/job}}
    {{^job}}

        <p class="no job", Available for hire></p>
        {{/job}}


    {{#company}}
      <b>{{company}}</b>

    {{/job}}
    {{^job}}


    <p class="no job", Available for hire></p>
    {{/job}}



    {{#skills}}
      <b>{{skills}}</b>

    {{/job}}
    {{^job}}


    <p class="no job", Available for hire></p>
    {{/job}}


    {{#phone}}
      <b>{{phone}}</b>

    {{/job}}
    {{^job}}

    <p class="no job", Available for hire></p>
    {{/job}}


    {{#address}}
      <b>{{address}}</b>

    {{/job}}
    {{^job}}

    <p class="no job", Available for hire></p>
    {{/job}}







    <!-- Put Your Customers In Here -->
  </div>
  <script src="main.js"></script>
</body>
</html>
